<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@bootstrap_css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="margin-left: 10px;margin-right: 10px;margin-top: 10px;margin-bottom: 10px;">
    {% for type, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ type }} fade in bg-info">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                '@jquery'
                '@bootstrap_js'
                '@AppBundle/Resources/public/js/form_collection.js'
                '@AppBundle/Resources/public/js/exp_sub_type_selection_updater.js'%}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
