<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}POEM{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        '@bootstrap_css'
        '@summernote_css'
        '@poem_css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('poem_logo.png') }}"/>
</head>
<body>
{% for type, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ type }} fade in bg-info">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}
<div class="container-fluid">
    {% block body %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">
                        <img alt="Brand" src="{{ asset('poem_logo.png') }}"
                             style="width: auto;height: 100%;max-height: 300px;">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('omics_experiment_index') }}" onclick="return redirectConfirm()">Omics
                                Experiments <span class="sr-only">(Omics Experiments)</span></a>
                        </li>
                        <li><a href="{{ path('sequence_run_index') }}" onclick="return redirectConfirm()">Sequence Runs
                                <span class="sr-only">(Sequence Runs)</span></a>
                        </li>
                    </ul>
                    <div class="collapse navbar-collapse  navbar-right" id="bs-example-navbar-collapse-2">
                        <ul class="nav navbar-nav">
                            <li><p class="navbar-text navbar-right">Logged in as {{ app.user }}.
                                    <a href="{{ path('fos_user_security_logout') }}">Logout</a></p>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endblock %}
</div>
{% block javascripts %}
    {% javascripts
    '@jquery'
    '@bootstrap_js'
    '@summernote_js'
    '@form_collection'
    '@exp_sub_type_selection_updater'
    '@bio_control_sample_updater'
    '@summernote_config_js'
    '@set_nav_active_link' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
