{# src/AppBundle/Resources/views/omic_experiment/new.html.twig #}
{% extends 'base.html.twig' %}

{% form_theme form 'omics_experiment/omics_experiment_subfields.html.twig' %}

{% block body %}
    {{ parent() }}
    <div id="prototypes">
        <div id="proto-samples"
             data-prototype="{{ form_row(form.omicsExperimentTypes.vars.prototype.omicsExperimentSubTypes.vars.prototype.samples.vars.prototype)|e }}"></div>
        <div id="proto-omics_experiment_sub_types"
             data-prototype="{{ form_row(form.omicsExperimentTypes.vars.prototype.omicsExperimentSubTypes.vars.prototype)|e }}"></div>
        <div id="proto-omics_experiment_types"
             data-prototype="{{ form_row(form.omicsExperimentTypes.vars.prototype)|e }}"></div>
        <div id="proto-statuses" data-prototype="{{ form_row(form.statuses.vars.prototype)|e }}"></div>
        <div id="proto-files" data-prototype="{{ form_row(form.files.vars.prototype)|e }}"></div>
    </div>
    {% if edit %}
        <h1> Edit {{ form.vars.value.projectName }} </h1>
    {% else %}
        <h1>New Omics Experiment</h1>
    {% endif %}
    {{ form_start(form) }}
    {{ form_row(form.projectName) }}
    {{ form_row(form.requestedDate) }}
    {{ form_row(form.description) }}
    {{ form_row(form.questions) }}
    {{ form_row(form.requestedEndDate) }}

    <h3>Files</h3>
    <ul style="list-style-type:none;padding-left:0;" class="col-files">
        {% for file in form.files %}
        <li class="panel panel-body panel-default">
            <p><a href="{{ asset('uploads/' ~ file.vars.value.path) }}">{{ file.vars.value.name }}</a></p>
            {{ form_widget(file.file , { 'attr': {'style': 'display: none;'} }) }}
        </li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-files btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add File
    </button>

    <h3>Statuses</h3>
    <ul style="list-style-type:none;padding-left:0;" class="col-statuses">
        {% for status in form.statuses %}
            {{ form_row(status) }}
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-statuses btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Status
    </button>

    <h3>Omics Experiment Types</h3>
    <ul style="list-style-type:none;padding-left:0;" class="col-omics_experiment_types">
        {% for omics_experiment_type in form.omicsExperimentTypes %}
            <li class="panel panel-body panel-default">
                {{ form_row(omics_experiment_type.omicsExperimentTypeString) }}
                <ul style="list-style-type:none;" class="col-omics_experiment_sub_types">
                    {% for omics_experiment_sub_type in omics_experiment_type.omicsExperimentSubTypes %}
                        <li class="panel panel-body panel-default">
                            {{ form_row(omics_experiment_sub_type.omicsExperimentSubTypeString) }}
                            <ul style="list-style-type: none;" class="col-samples">
                                {% for sample in omics_experiment_sub_type.samples %}
                                    <li class="panel panel-body panel-default">
                                        {{ form_row(sample.sampleName) }}
                                        {{ form_row(sample.BCSampleID) }}
                                        <div class="progress" style="display:none">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 100%">
                                                <span class="sr-only">100% Complete</span>
                                            </div>
                                        </div>
                                        {{ form_row(sample.BCRunID) }}
                                        {{ form_row(sample.BCExperimentID) }}
                                        {{ form_row(sample.sampledDateTime) }}
                                        {{ form_row(sample.sampledBy) }}
                                        {{ form_row(sample.comments) }}
                                        {{ form_row(sample.RNALaterTreated) }}
                                        {{ form_row(sample.materialTypeString) }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <button type="button" class="btn btn-samples btn-success">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Sample
                            </button>
                        </li>
                    {% else %}
                        <ul style="list-style-type: none;" class="col-samples"></ul>
                    {% endfor %}
                </ul>
                <button type="button" class="btn btn-omics_experiment_sub_types btn-success btn-recursive">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Experiment Sub-Type
                </button>
            </li>
        {% else %}
            <ul style="list-style-type: none;" class="col-omics_experiment_sub_types">
                <ul style="list-style-type: none;" class="col-samples">
                </ul>
            </ul>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-omics_experiment_types btn-success btn-recursive">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Experiment Type
    </button><br><br>
    {% if edit %}
        {{ form_widget(form.save, { 'label': 'Edit Experiment' }) }}
        <a href="{{ path('omics_experiment_show', {'id': form.vars.value.id}) }}" class="btn btn-default"
           onclick="return redirectConfirm()">Back</a>
        <a href="{{ path('omics_experiment_delete', {'id': form.vars.value.id}) }}" class="btn btn-default"
           onclick="return confirm('Are you sure you want to delete {{ form.vars.value.projectName }}?')">Delete</a>
    {% else %}
        {{ form_widget(form.save, { 'label': 'Create Experiment' }) }}
        <a href="{{ path('omics_experiment_index') }}" class="btn btn-default"
           onclick="return redirectConfirm()">Back</a>
    {% endif %}
    <div style="display: none;">{{ form_rest(form) }}</div>
    {{ form_end(form) }}
{% endblock %}
        {% block javascripts %}
            {{ parent() }}
            <script type="text/javascript">
                new FormCollections(['files', 'statuses', 'omics_experiment_types', 'omics_experiment_sub_types', 'samples']);
                new ExpSubTypeSelectionUpdater({{ select_relations|json_encode()|raw }});
                new BioControlSampleUpdater();
            </script>
        {% endblock %}