{# src/AppBundle/Resources/views/sequence_run/new.html.twig #}
{% extends 'base.html.twig' %}

{% form_theme form 'sequence_run/sequence_run_subfields.html.twig' %}

{% block body %}
    {{ parent() }}
    <div id="prototypes">
        <div id="proto-samples" data-prototype="{{ form_row(form.samples.vars.prototype)|e }}"></div>
        <div id="proto-files" data-prototype="{{ form_row(form.files.vars.prototype)|e }}"></div>
    </div>
    {% if edit %}
        <h1> Edit Sequence Run ({{ form.vars.value.id }}) </h1>
    {% else %}
        <h1>New Sequence Run</h1>
    {% endif %}
    {{ form_start(form) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.kit) }}
    {{ form_row(form.materialTypeString) }}
    {{ form_row(form.runCoverageTarget) }}
    {{ form_row(form.readLength) }}

    <h3>Files</h3>
    <ul style="list-style-type:none;padding-left:0;" class="col-files">
        {% for file in form.files %}
            <li class="panel panel-body panel-default">
                <p><a href="{{ asset('uploads/' ~ file.vars.value.path) }}">{{ file.vars.value.name }}</a></p>
                {{ form_widget(file.file , { 'attr': {'style': 'display: none;'} }) }}
            </li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-files btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add File
    </button>

    <h3>Samples</h3>
    <ul style="list-style-type:none;padding-left:0;" class="col-samples">
        {% for sample in form.samples %}
            <li class="panel panel-body panel-default">
                {{ form_row(sample.BCExperimentID) }}
                {{ form_row(sample.BCSampleID) }}
                {{ form_row(sample.BCRunID) }}
                {{ form_row(sample.sampledDateTime) }}
                {{ form_row(sample.sampledBy) }}
                {{ form_row(sample.RNALaterTreated) }}
                {{ form_row(sample.materialTypeString) }}
            </li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-samples btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Sample
    </button>

    <br/>
    <br/>

    {% if edit %}
        {{ form_widget(form.save, { 'label': 'Edit Sequence Run' }) }}
        <a href="{{ path('sequence_run_show', {'id': form.vars.value.id}) }}" class="btn btn-default"
           onclick="return redirectConfirm()">Back</a>
        <a href="{{ path('sequence_run_delete', {'id': form.vars.value.id}) }}" class="btn btn-default"
           onclick="return confirm('Are you sure you want to delete Sequence Run {{ form.vars.value.id }}?')">Delete</a>
    {% else %}
        {{ form_widget(form.save, { 'label': 'Create Sequence Run' }) }}
        <a href="{{ path('sequence_run_index') }}" class="btn btn-default" onclick="return redirectConfirm()">Back</a>
    {% endif %}
    <div style="display: none;">{{ form_rest(form) }}</div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        new FormCollections(['samples', 'files']);
        new BioControlSampleUpdater();
    </script>
{% endblock %}